<!-- Modal for Confirmations -->
<div class="modal fade" id="haConfirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow" style="border-radius: var(--border-radius);">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title" id="haConfirmTitle">Confirm Action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-4" id="haConfirmMessage">
                Are you sure?
            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-ha-outline btn-sm px-3" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-ha-primary btn-sm px-4" id="haConfirmBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>
