[bump]
features_always_bump_minor = false
breaking_always_bump_major = true
initial_tag = "0.1.0"

[changelog]
header = """
# Changelog
"""

[git]
conventional_commits = true
filter_unconventional = true
